.block {
  max-width: 600px;
}

.constructorList,
.constructorSubList {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
}

.constructorSubList {
  max-height: 440px;
  overflow-y: auto;
}

.constructorListItem,
.constructorSubListItem {
  display: flex;
  align-items: center;
}
.constructorListItem {
  width: 100%;
  box-sizing: border-box;
}

.constructorSubListItem {
  width: 100%;
}

.constructorSubListItem svg {
  flex-shrink: 0;
}

.constructorTotal {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.constructorTotalPrice {
  display: flex;
  align-items: center;
}

.constructorTotalPrice svg {
  margin-left: 10px;
  width: 33px;
  height: 33px;
}
.noBuns {
  box-sizing: border-box;
  padding: 16px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--common-border-radius-s);
  background: var(--background-element);
  min-height: 80px;
  font-family: "Jet Brains Mono";
  font-size: 16px;
  line-height: 24px;
  color: #f2f2f3;
}

.noBunsTop {
  border-radius: var(--top-constructor-item-border-radius);
}

.noBunsBottom {
  border-radius: var(--bottom-constructor-item-border-radius);
}
