.form {
  display: flex;
  flex-direction: column;
  max-width: 480px;
  width: 100%;
  margin: auto;
}
.formTitle {
  text-align: center;
}
.formField {
  display: flex;
  justify-content: center;
}
.formButton {
  max-width: 128px;
  margin-left: auto;
  margin-right: auto;
}
.formLinkItem {
  text-align: center;
}
.formLink {
  margin-left: 8px;
  color: #4c4cff;
}
.formLink:hover {
  color: #fff;
}
