.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ImgWrap {
    text-align: center;
}

.statList {
    display: flex;
}

.statItem {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.statItem:last-child {
    margin-right: 0;
}
.statName {
    margin-bottom: 8px;
}